.range_field{
    width: 350px;
    height: 15px;
    display: flex;
    -webkit-appearance: none;
}
.range {
  width: 300px;
  height: 2px;
  -webkit-appearance: none;
  outline: 0;
  border-radius: 15px;
  background: rgba(148, 148, 148, 1);
  margin: auto 10px;
  z-index: -1;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-image: radial-gradient(circle, rgba(255, 207, 122, 1) 100%, rgba(255, 207, 122, 1));
  cursor: pointer;
}


.form__box-inputs-panel-block{
  display: flex;
  justify-content: start;
  width: 100%;
  align-items: center;
}

.slide {
  width: 280px;
  height: 70px;
  overflow: hidden;
  &__block{
    width: 200%;
    position: relative;
    display: flex;
    left: 0;
    transition: all ease 0.7s;
  }
}
.slide__img{
  width: 100%;
  height: 70px;
}
.slide__prev{
  font-size: 22px;
  color: rgba(255, 207, 122, 1);
  margin-right: 20px;
  margin-top: 24px;
}
.slide__next{
  font-size: 22px;
  color: rgba(255, 207, 122, 1);
  margin-left: 20px;
  margin-top: 24px;
}


@media (max-width: 1240px){
  .range_field{
      width: 300px;
  }
  .range_field::-webkit-slider-thumb{
    width: 27px;
    height: 27px;
  }
  .range{
    width: 230px;
  }
  .slide{
    width: 220px;
    height: 80px;
  }
  .slide__next{
    margin-top: 0px;
  }
  .slide__prev{
    margin-top: 0px;
  }
  .slide__img{
    height: 60px;
  }
}

@media (max-width: 769px){
  .form__box-inputs-length{
    label{
      font-size: 14px;
    }
  }
  .range{
    width: 200px;
  }
  .range_field::-webkit-slider-thumb{
    width: 20px;
    height: 20px;
  }
  .slide{
    width: 200px;
    height: 40px;
  }
  .slide__next{
    font-size: 16px;
    margin-top: 20px;
  }
  .slide__prev{
    font-size: 16px;
    margin-top: 20px;
  }
  .swagger__img{
    height: 50px;
  }
}

@media (max-width: 636px){
  .range{
    width: 130px;
    height: 10px;
  }
  .slide{
    width: 140px;
  }
  .slide__img{
    height: auto;
  }
}

@media (max-width: 564px){
  .range{
    width: 240px;
    margin: 0 auto;
  }
  .slide{
    width: 240px;
  }
  .slide__img{
    height: auto;
  }
}

@media (max-width: 426px){
  .slide{
    width: 70%;
  }
  .slide__img{
    height: 40px;
  }
  .form__box-inputs-length{
    padding-left: 0;
  }
}








