.range_field{
    width: 350px;
    display: flex;
    -webkit-appearance: none;
}
.range {
  width: 300px;
  height: 15px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  margin: auto 10px;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 207, 122, 1);
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px rgba(255, 207, 122, 1);
}


.form__box-inputs-panel-block{
  display: flex;
  justify-content: start;
  width: 100%;
  align-items: center;
}

.slide {
  width: 280px;
  height: 70px;
  .active{
    display: block;
  }
}
.swagger__img{
  display: none;
  width: 100%;
  height: 70px;
}
.slide__prev{
  font-size: 22px;
  color: rgba(255, 207, 122, 1);
  margin-right: 20px;
  margin-top: 24px;
}
.slide__next{
  font-size: 22px;
  color: rgba(255, 207, 122, 1);
  margin-left: 20px;
  margin-top: 24px;
}


@media (max-width: 1240px){
  .range_field{
      width: 300px;
  }
  .range_field::-webkit-slider-thumb{
    width: 27px;
    height: 27px;
  }
  .range{
    width: 230px;
  }
  .slide{
    width: 220px;
    height: 80px;
  }
  .slide__next{
    margin-top: 0px;
  }
  .slide__prev{
    margin-top: 0px;
  }
  .swagger__img{
    height: 60px;
  }
}

@media (max-width: 769px){
  .form__box-inputs-length{
    label{
      font-size: 14px;
    }
  }
  .range_field{
    width: 200px;
  }
  .range_field::-webkit-slider-thumb{
    width: 20px;
    height: 20px;
  }
  .slide{
    width: 170px;
    height: 50px;
  }
  .slide__next{
    font-size: 16px;
    margin-top: 20px;
  }
  .slide__prev{
    font-size: 16px;
    margin-top: 20px;
  }
  .swagger__img{
    height: 50px;
  }
}

@media (max-width: 426px){
  .slide{
    width: 70%;
  }
  .form__box-inputs-length{
    padding-left: 0;
  }
}








