.range_field{
    width: 350px;
    -webkit-appearance: none;
}
.range_field::-webkit-slider-runnable-track{
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: rgba(100, 100, 100, 1);
    border-radius: 0px;
    border: 0px solid rgba(100, 100, 100, 1);
}
.range_field::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
}
.range_field::-webkit-slider-thumb{
    box-shadow: none;
    border: 0px solid rgba(255, 207, 122, 1);
    height: 32px;
    width: 32px;
    border-radius: 5px;
    background: rgba(255, 207, 122, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -15px;
}
.range_field::-moz-range-thumb{
    box-shadow: none;
    border: 0px solid rgba(255, 207, 122, 1);
    box-shadow: -410px 0 0 1px rgba(255, 207, 122, 1);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    background: rgba(255, 207, 122, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}




.form__box-inputs-panel-block{
  display: flex;
  justify-content: start;
  height: 100px;
  width: 100%;
  align-items: center;
}

.slider {
  width: 280px;
  height: 100px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  margin-left: 10px;
  box-sizing: border-box;
  transform-origin: center center;
  transform: scale(1);
  margin-top: 20px;
}

.slide__text {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
  img{
    object-fit: cover;
  }
}

.slide a {
  background: none;
  border: none;
}
.slide__prev{
  font-size: 22px;
  color: rgba(255, 207, 122, 1);
  margin-right: 20px;
  margin-top: 24px;
}
.slide__next{
  font-size: 22px;
  color: rgba(255, 207, 122, 1);
  margin-left: 30px;
  margin-top: 24px;
}
.slider__nav {
  box-sizing: border-box;
  left: 50%;
  position: absolute;
  margin-top: -10px;
  width: 200px;
  margin-left: 150px;
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: rgba(255, 207, 122, 1);
  margin: 0 2px 0 4px;
}


@media (max-width: 1240px){
  .range_field{
      width: 300px;
  }
  .range_field::-webkit-slider-thumb{
    width: 27px;
    height: 27px;
  }
  .slider{
    width: 220px;
    height: 80px;
    margin: auto auto;
  }
  .slider__nav{
    margin-left: 100px;
    margin-top: 1px;
  }
}

@media (max-width: 769px){
  .range_field{
    width: 200px;
  }
  .range_field::-webkit-slider-thumb{
    width: 20px;
    height: 20px;
  }
  .slider{
    width: 170px;
    height: 50px;
    margin: auto 0;
  }
  .slider__nav{
    margin-left: -10px;
    margin-top: -35px;
  }
  .slide__text{
    width: 160px;
    height: 70px;
    margin-left: 13px;
    img{
      width: 100%;
    }
  }
  .slide__next{
    font-size: 16px;
    margin-left: 13px;
    margin-top: 10px;
  }
  .slide__prev{
    font-size: 16px;
    margin-right: 0;
    margin-top: 10px;
  }
}

@media (max-width: 426px){
  .slide{
    width: 80%;
    margin-left: 20px;
  }
  .slider__nav{
    margin-left: -100px;
    margin-top: -35px;
  }
  .slide__text{
    width: 160px;
    height: 70px;
    margin-left: 13px;
    img{
      width: 100%;
    }
  }
}








