.intro{
    width: 85%;
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
    &__title{
        &-head{
            width: 700px;
            font-family: 'Lab Grotesque';
            font-style: normal;
            font-weight: 250;
            font-size: 40px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            background: linear-gradient(19.43deg, rgba(255, 255, 255, 0) 1.37%, #FFFFFF 69.78%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin: 0 auto;
            text-align: center;
        }
        &-info{
            width: 560px;
            font-size: 19px;
            letter-spacing: 0.05em;
            font-family: 'Lab Grotesque';
            font-weight: 300;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            margin: 30px auto;
        }
    }
    &__img{
        position: relative;
        margin-top: -730px;
        width: 98%;
        height: 895px;
        z-index: -1;
        opacity: 1;
    }
    &__imge{
        margin: 0 auto;
        height: 495px;
    }
    &__advantage{
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        margin-top: -160px;
        .info_icon{
            width: 280px;
            margin-left: 50px;
            color: white;
            text-align: center;
            svg{
                width: 47px;
                height: 47px;
            }
            p{
                width: 170px;
                font-size: 16px;
                font-weight: 300;
                margin-left: 10px;
                display: inline-block;
                line-height: 24px;
            }
        }
    }
}

@media (max-width: 1300px){
    .intro{
        width: 80%;
        &__title{
            &-head{
                font-size: 40px;
            }
            &-info{
                font-size: 19px;
            }
        }
        &__img{
            position: relative;
            margin-top: -180px;
            margin-left: 25px;
            width: 95%;
            height: auto;
            z-index: -1;
            opacity: 1;
        }
        &__imge{
            position: absolute;
            margin: 0 auto;
            width: 100%;
        }
        &__advantage{
            margin-top: -90px;
            .info_icon{
                svg{
                    width: 42px;
                    height: 42px;
                }
            }
        }
    }
}

@media (max-width: 1100px){
    .intro{
        width: 90%;
        &__title{
            &-head{
                width: 550px;
                font-size: 29px;
            }
            &-info{
                font-size: 16px;
            }
        }
        &__img{
            position: relative;
            top: 70px;
            margin-left: 25px;
            width: 90%;
            height: auto;
            z-index: -1;
            opacity: 1;
        }
        &__imge{
            position: absolute;
            margin: 0 auto;
            width: 100%;
            height: auto;
        }
        &__advantage{
            margin: -60px auto;
            margin-left: -20px;
            .info_icon{
                width: 223px;
                margin-left: 35px;
                margin-top: -100px;
                svg{
                    width: 40px;
                    height: 40px;
                }
                p{
                    width: 150px;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media (max-width: 900px){
    .intro{
        &__advantage{
            margin: 0 auto;
            margin-left: -20px;
            .info_icon{
                width: 223px;
                margin-left: 35px;
                margin-top: -100px;
                svg{
                    width: 40px;
                    height: 40px;
                }
                p{
                    width: 150px;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media (max-width: 750px){
    .intro{
        margin-top: 50px;
        &__advantage{
            margin: 0 auto;
            margin-left: -20px;
            .info_icon{
                width: 223px;
                margin-left: 35px;
                margin-top: -10%;
                svg{
                    width: 30px;
                    height: 30px;
                }
                p{
                    width: 150px;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}
@media (max-width: 625px){
    .intro{
        width: 90%;
        margin: 40px auto;
        &__title{
            &-head{
                width: 450px;
                font-size: 25px;
            }
            &-info{
                width: 320px;
                font-size: 10px;
                margin: 20px auto;
            }
        }
        &__advantage{
            margin: 0 auto;
            margin-left: -15px;
            margin-top: 20px;
            .info_icon{
                width: 90px;
                margin-left: 25px;
                svg{
                    margin-left: 10px;
                    width: 22px;
                    height: 22px;
                }
                p{
                    width: 80px;
                    font-size: 8px;
                    line-height: 12px;
                }
            }
        }
    }
}
@media (max-width: 576px){
    .intro{
        width: 100%;
    }
}

@media (max-width: 476px){
    .intro{
        width: 100%;
        margin: 30px auto;
        &__title{
            &-head{
                width: 300px;
                font-size: 18px;
            }
            &-info{
                width: 280px;
                font-size: 9px;
                margin: 20px auto;
            }
        }
        &__img{
            position: relative;
            top: 155px;
            margin-left: 45px;
            width: 80%;
            height: auto;
            z-index: -1;
            opacity: 1;
        }
        &__imge{
            position: absolute;
            margin: 10px auto;
            width: 100%;
            height: auto;
        }
        &__advantage{
            margin: 0 auto;
            margin-left: -15px;
            .info_icon{
                width: 80px;
                margin-left: 15px;
                margin-top: 90px;
                svg{
                    margin-left: 10px;
                    width: 18px;
                    height: 18px;

                }
                p{
                    width: 75px;
                    font-size: 8px;
                    line-height: 12px;
                }
            }
        }
    }
}

.refill{
    width: 85%;
    margin: 0 auto;
    margin-top: 170px;
    display: flex;
    &__info{
        width: 340px;
        margin-left: 130px;
        display: inline-block;
        .title{
            font-family: 'Lab Grotesque';
            font-style: normal;
            font-weight: 250;
            font-size: 32px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            background: linear-gradient(9.43deg, rgba(255, 255, 255, 0) 1.37%, #FFFFFF 39.78%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        .text{
            font-family: 'Lab Grotesque';
            color: white;
            font-size: 17px;
            line-height: 33px;
            text-align: left;
        }
    }
    &__img{
        display: inline-block;
        &-imge{
            width: 700px;
            position: absolute;
            right: 0px;
            margin-top: -240px;
            opacity: 0.7; 
        }
    }
    &__instruction{
        width: 220px;
        position: relative;
        top: 270px;
        display: inline-block;
        &-img{
            width: 22px;
            height: 22px;
        }
        .cntr{
            width: 25px;
            height: 1px;
            margin: 10px 25px;
        }
        &-text{
            color: white;
            font-size: 15px;
            line-height: 22px;
        }
    }
}

@media (max-width: 1280px){
    .refill{
        width: 90%;
        &__info{
            width: 340px;
            margin-left: 105px;  
            .text{
                font-size: 15px;
            }
            .title{
                font-size: 27px;
            }   
        }
        &__img{
            &-imge{
                width: 600px;
                height: auto;
                margin-top: -200px;
            }
        }
        &__instruction{
            width: 180px;
            position: relative;
            top: 240px;
            display: inline-block;
            &-img{
                width: 20px;
                height: 20px;
            }
            .cntr{
                width: 22px;
                height: 1px;
                margin: 9px 17px;
            }
            &-text{
                color: white;
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}
@media (max-width: 1120px){
    .refill{
        width: 90%;
        &__info{
            width: 340px;
            margin-left: 12%;  
            .title{
                font-size: 26px;
            }  
            .text{
                font-size: 15px;
                line-height: 30px;
            }
        }
        &__img{
            width: 100%;
            height: auto;
            position: relative;
            margin-left: 5%;
            &-imge{
                width: 520px;
                height: auto;
                margin-top: -150px;
            }
        }
        &__instruction{
            display: none;
        }
    }
}

@media (max-width: 990px){
    .refill{
        display: none;
        
    }
}

